@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0de;
  height: 50px;
  padding: 0 3%;
}

.navbar a {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}

.navbar button {
  outline: none;
  border: none;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}